Header {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;
  }
  .navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 6.75rem;
    top: 2rem;
    height: fit-content;
    justify-content: center;
    width: 50%;
    background: transparent;
  }
  .navbar a {
    text-decoration: none;
    font-size: 1rem;
    padding-left: 2.75rem;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  .info div {
    margin-left: 2rem;
    margin-right: 1.25rem;
  }
  .navbar a {
    color: var(--pink);
    text-decoration: none;
    font-size: 1rem;
  }
  .navbar a:hover {
    color: var(--mainBlack);
  }
  .font-56 {
    font-size: 4rem;
  }
  .basket {
    border: 0.1rem solid var(--mainBlack);
    color: var(--mainBlack);
    border-radius: 0.25rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
  }
  .basket:hover {
    color: var(--mainWhite);
    background-color: var(--pink);
    border-color: var(--pink);
  }
  .button {
    border: 0.1rem solid var(--mainBlack);
    color: var(--mainBlack);
    border-radius: 0.25rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    width: fit-content;
    transition: 0.3s;
    font-size: medium;
    margin: 1.25rem 0;
    background: transparent;
  }
  .button:hover {
    color: var(--pink);
    background-color: var(--mainBlack);
    border-color: var(--mainBlack);
  }
}
